---
import GitHubIcon from "../assets/Icons/GitHubIcon.astro"

---

<footer class="w-full py-10 mt-3 bg-gray-700 ">
  
  <small>
    Made with love by José Rafael
  </small>
  <a href="https://github.com/joserafael0160/JRLinks" target="_blank" rel="noopener noreferrer" title="GitHub repository of the JRLinks" class="">
    <GitHubIcon class="size-3"/>
  </a>
  
</footer>