---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<title>{title}</title>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Hi, I'm José Rafael, you can find me on all my platforms on this page, follow me on the ones you like."
		/>
		<meta
			name="keywords"
			content="JRLinks, personal website, social media, links, link, social media links, all my links"
		/>
		<meta name="author" content="José Rafael" />
		<meta name="robots" content="index, follow" />
		<meta charset="UTF-8" />
		<link rel="canonical" href="https://jrlinks.pages.dev/" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body class="relative text-white">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		background: #171717 linear-gradient(#171724, #171727);
		color: rgba(17, 17, 17, 0.9);
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		overscroll-behavior: none;
		margin-top: 60px;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
